
/* modal box style, can be anything you want */

.modal1 {
    -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #fff;
    width: 400px;
    max-width: 80%;
    min-height: 100px;
    z-index: 1005;
    padding: 10px;
    bottom: 0;
    left: 0;
    margin: auto;
    position: relative;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.no-top-transform {
    top: 2vh !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
}

.close_modal1_button {
    float: right;
    position: relative;
    cursor: POINTER;
    padding: 0px 5px;
    top: -10px;
    right: -10px;
    border-bottom: none;
    color: #989898;
}




.modal {
    position: absolute;
    left: 50%;
    top: 50%;
	text-align:center;
	margin-left:-187px;
	margin-top:-120px;
	padding-top: 40px;
	z-index: 999;

}


.modal .buttons-card {
    background: #666;
    width: 520px;
	margin-left: -511px;
	margin-top:-52px;
    padding: 5px;
	border-radius: 5px 5px 0 0;
	border: 2px solid #666;
	position: relative;
	left: 100%;
	z-index: 999;
}

.modal .buttons-card-1 {

	background-color: #666;
	background-image: -o-linear-gradient(90deg , rgb(214,219,223) 0%, rgb(244,244,248) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(214,219,223) 0%, rgb(244,244,248) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(214,219,223) 0%, rgb(244,244,248) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(214,219,223) 0%, rgb(244,244,248) 100%);
	background-image: linear-gradient(90deg , #999 0%, #666 100%);
	float: left;
	color: #ccc;
	margin: -6px -7px 0px  -6px;
	padding: 4px 25px 5px 6px;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
	border-top: 1px solid #333;
	border-left: 1px solid #333;

}

.modal .buttons-card-active {
	background-color: #666;
	float: left;
	color: #fff;
	margin: -6px -7px 0px  -6px;
	padding: 4px 25px 5px 6px;
	border-radius: 5px 5px 0 -0;
	cursor: pointer;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
}

.modal .close {
    float: right;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #ccc;
    color: #ccc;
    padding: 0px 2px 0px 2px;
    border-radius: 4px;
}

.modal-buttons {
    float: right;
}

.modal-buttons2 {
    text-align: right;
    padding-top: 7px;
}

.modal-buttons2 button, .modal-buttons button {
    text-transform: none;
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
    box-shadow: none;
    color: #333;
    display: inline-block;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    min-height: 1em;
    -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    -webkit-tap-highlight-color: transparent;
    border: none;
    background-image: none;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

.modal-buttons button.btn-blue {
    background-color: #3498db;
    color: #FFF;
    text-shadow: none;
    -webkit-transition: background .2s;
    transition: background .2s;
}

 .modal-buttons button.btn-blue:hover {background-color: #2980b9;}


.modal-buttons button.btn-default {
    background-color: #ecf0f1;
    color: #000;
    text-shadow: none;
    -webkit-transition: background .2s;
    transition: background .2s;
}
 .modal-buttons button.btn-default:hover {background-color: #ddd;}


button.order-button-template {margin: 0.1em;border: 1px solid #ccc;}



 
div#modal_content {padding: 7px;}


.themodal-lock {
	/* when modal is opened we're removing scrollbars from the main content */
	overflow: hidden;
}

.themodal-overlay {
	/* overlay will stay fixed and will take all the space available */
	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	z-index: 998;

	/* if modal content doesn't fit inside the overlay, display scrollbars */
	overflow: auto;

	/* allow one-finger iPad scrolling */
	-webkit-overflow-scrolling: touch;

}

.form-group {
    padding-bottom: 5px;
}

/* fix for iPad glitches 
.themodal-overlay > * {
	-webkit-transform: translateZ(0px);
}
*/

.themodal-overlay {
	background: rgba(0, 0, 0, 0.5);
	/* IE6–IE8 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #7F000000, endColorstr = #7F000000);
	zoom: 1;
}
